.product-info {
  height: 1000px;
  padding-left: 100px;
  // background-color: palevioletred;

  .product-info-title {
    padding: 30px;
    border-bottom: 4px solid #212322;
    // background-color: palegoldenrod;
    font-size: 40px;
  }
}
