.product-info-wrap {
  width: 100%;
  // background-color: palegoldenrod;
  .product-info {
    .product-info-title {
      padding: 30px 30px 40px 30px;
      background-color: #f5f6f7;
      font-size: 30px;
    }
  }
  .payment-info-desc {
    display: flex;
    bottom: 0;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #ededed;
    color: #646465;
    font-size: 14px;
    line-height: 20px;
  }
}
