.payment-info-item {
  display: flex;
  position: relative;
  z-index: 99;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 50px 50px;
  border-bottom: 1px solid #ccc;

  .payment-info-data {
    width: 100%;

    .payment-info-date {
      position: absolute;
      top: -15px;
      // width: 25%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
      background-color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
}

.payment-info-etc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;

  .payment-info-price {
    font-size: 20px;

    p {
      margin-bottom: 10px;
    }
  }
  .payment-info-status {
    display: flex;
    flex-direction: column;
    // justify-content: ;
    width: 100px;
    padding: 5px;
    p {
      margin-bottom: 10px;
      color: rgb(65, 64, 64);
      text-align: center;
    }
    button {
      border: 1px solid #ccc;
      background-color: #f5f6f7;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
