.payment-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .payment-content {
    display: flex;
    width: 100%;

    .payment-aside-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100%;
      background-color: #212322;
      color: white;
    }

    .payment-info-wrap {
      width: 60%;
      height: 100%;
    }
  }
}
