@mixin flex-center {
  display: flex;
  justify-content: center;
}

.product-wrap {
  flex-direction: row-reverse;
  width: 100%;
  height: 2000px;
  margin: 0;
  padding-top: 50px;
  @include flex-center;

  .product-content {
    display: flex;
    flex-direction: column;
    width: 1500px;

    .product-main {
      display: flex;
      justify-content: space-between;
      height: 1000px;
      margin: 100px 0;
    }

    .product-first-slide,
    .product-second-slide {
      h1 {
        // padding: 130px 0 0 0;
        font-size: 22px;
      }
    }

    .product-first-slide {
      padding: 130px 0 0 0;
    }
  }
}
