.swiper {
  width: 90%;
  height: 90%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  font-size: 18px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 50%;
  object-fit: cover;

  border: 3px solid black;
}
