.payment-aside {
  // width: 100%;
  // background-color: palegreen;

  .payment-aside-title {
    padding-bottom: 20px;
    font-size: 35px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    // letter-spacing: 5px;
  }
}
