.product-slide-wrap {
  // width: 1200px;
  height: 300px;

  .product-slide-item-list {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;

    h1 {
      padding-bottom: 20px;
      font-size: 25px;
      font-weight: 700;
    }

    .product-slide-item-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
