* {
  font-family: 'Noto Sans KR', sans-serif;
}

.SignUp {
  .signup-wrap {
    display: flex;
    width: 100vw;

    .link {
      text-decoration: underline !important;
    }

    .signup-left {
      display: flex;
      width: 40%;

      .signup-left-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 80px;

        .signup-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .arrow-block {
            display: inline-block;
            position: absolute;
            left: 32px;

            .signup-arrow {
              left: 32px;
              width: 16px;
              height: 16px;
              cursor: pointer;
              filter: opacity(0.5) drop-shadow(0 0 0 white);
            }
          }

          .signup-logo {
            width: 88px;
            height: 44px;
          }
        }

        .signup-main {
          .signup-title {
            margin-top: 16px;
            color: rgb(251, 217, 20);
            font-size: 32px;
          }

          .signup-description {
            padding-top: 16px;
            font-size: 14px;
            line-height: 20px;
          }

          .signup-imgbox {
            display: grid;
            grid-gap: 6.4px;
            grid-template-columns: 200px 200px;
            grid-template-rows: repeat(17, minmax(0, 64px));
            width: 100%;
            margin-top: 48px;

            img {
              display: block;
              width: 100%;
              height: 100%;
            }

            .signup-img1 {
              grid-column: 1 / 2;
              grid-row: 1 / 5;
            }

            .signup-img2 {
              grid-column: 2 / 3;
              grid-row: 1 / 4;
            }

            .signup-img3 {
              grid-column: 1 / 2;
              grid-row: 5 / 9;
            }

            .signup-img4 {
              grid-column: 2 / 3;
              grid-row: 4 / 7;
            }

            .signup-img5 {
              grid-column: 1 / 2;
              grid-row: 9 / 12;
            }

            .signup-img6 {
              grid-column: 2 / 3;
              grid-row: 7 / 11;
            }

            .signup-img7 {
              grid-column: 1 / 2;
              grid-row: 12 / 16;
            }

            .signup-img8 {
              grid-column: 2 / 3;
              grid-row: 11 / 14;
            }

            .signup-img9 {
              grid-column: 1 / 2;
              grid-row: 16 / 18;
            }

            .signup-img10 {
              grid-column: 2 / 3;
              grid-row: 14 / 18;
            }
          }
        }

        .space {
          height: 32px;
        }

        .signup-footer {
          font-size: 11px;
          line-height: 1.71429;
          text-align: left;

          .signup-footer-inner {
            .signup-footer-description {
              .signup-cookie {
                text-decoration: underline !important;
              }
              .signup-personal {
                text-decoration: underline !important;
              }
            }
          }
        }
      }
    }

    .signup-right {
      display: flex;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;

      .signup-right-font {
        font-size: 14px;
      }

      .signup-welcome {
        font-size: 20px;
        font-weight: 900;
      }

      .input-box {
        height: 48px;
      }

      .name-title {
        margin-bottom: 5px;
        font-size: 14px;
      }

      .signup-right-inner {
        padding: 32px 80px;

        .signup-welcome {
          margin-bottom: 16px;
        }

        .form {
          .form-inner {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            width: 448px;

            .input-demand {
              margin-top: 5px;
              color: red;
            }

            .input-demand-phone {
              margin-top: 5px;
            }

            .space {
              height: 32px;
            }

            .address-button {
              width: 150px;
              height: 56px;
              padding: 0 32px;
              border-radius: 64px;
              background-color: #212321;
              color: white;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
        .space {
          height: 32px;
        }

        .checkbox {
          display: flex;
          align-items: center;
          width: auto;
          height: auto;
          margin-top: 32px;
          font-size: 14px;

          .input-description {
            width: 400px;
          }

          .input-checkbox {
            width: 24px;
            height: 24px;
            margin-right: 15px;
            accent-color: yellow;
          }
        }

        .signup-button {
          height: 56px;
          padding: 0 32px;
          border-radius: 64px;
          background-color: #212321;
          color: white;
          cursor: pointer;
        }
        .signup-right-footer {
          .right-footer-inner {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
